$main_color: #F44336;
$my_menu_background_gradi_color: #9C27B0;
$main_light_color: #FFEBEE;
$sub_color: #009688;
$text_color: #616161;
$background-cover: rgba(41, 5, 2, 0.6);
$background-color-block: #343744;
$background-light-gray: #F5F5F5;

// font-family: 'Quicksand', sans-serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Julius Sans One', sans-serif;

@mixin center_border_bottom($width, $color) {
	&:after {
		content: '';
		display: block;
		width: $width;
		height: 2px;
		background: $color;
		margin: 10px auto;
	}
}

@mixin center_border_bottom_gradi($width, $height) {
	&:after {
		content: '';
		display: block;
		width: $width;
		height: $height;
		margin: 0 auto;
		background: linear-gradient(135deg, $main_color, $my_menu_background_gradi_color)
	}
}

body {
	margin: 0;
	color: $text_color;
	font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif, YuGothic,'Yu Gothic','Zapfino',sans-serif;
	width: 100vw;
	min-width: 400px;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}

a {
	text-decoration: none;
}

.link_text {
	font-size: 28px;
	text-align: center;
	display: inline-block;
	color: $text_color;
	transition: 0.2s;
	@include center_border_bottom_gradi(200px, 1px);
	&:hover {
		color: $main_color;
	}
}
#header {
	position: fixed;
	width: 100%;
	z-index: 2;
	background: white;
	// box-shadow: 0 1px 2px 0 #999;
	@include center_border_bottom_gradi(100%, 2px);
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	#content_box {
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		#left_box{
			#title {
				padding: 10px;
				font-family: 'Pacifico', cursive;
				font-weight: bold;
				transition: 0.2s;
				&:hover {
					color: $main_color;
					cursor: pointer;
				}
			}
		}
		#right_box {
			.buttons {
				.button {
					font-weight: bold;
					display: inline-block;
					padding-right: 10px;
					transition: 0.2s;
					&:after {
						margin-left: 10px;
						content: '';
						width: 1px;
						height: 16px;
						display: inline-block;
						background: $text_color;
						transform: rotate(30deg);
					}
					&:last-child:after {
						content: none;
					}
					&:hover {
						color: $main_color;
						cursor: pointer;
					}
				}
			}
		}
	}
}

#top_view {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100vw;
	height: 600px;
	background-image: image-url("top_view_image.jpg");
	background-position: center;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: inherit;
		height: inherit;
		background: linear-gradient(135deg, $main_color, $my_menu_background_gradi_color);
		opacity: 0.8;
	}
	#top_title {
		z-index: 1;
		padding: 10px;
		font-family: 'Pacifico', cursive;
		font-size: 72px;
		color: white;
		text-shadow: 0 1px 16px #333;
	}
	#top_message {
		z-index: 1;
		color: white;
		text-shadow: 0 1px 16px #333;
		font-size: 20px;
	}
}

.section {
	padding: 50px;
	text-align: center;
	.section_title {
		margin: 0 auto;
		font-size: 28px;
		padding: 10px;
		text-align: center;
		@include center_border_bottom_gradi(200px, 1px);
	}
	.section_message {
		margin: 0 auto;
		font-size: 16px;
		padding: 10px;
		text-align: center;
		line-height: 32px;
	}
}

.display_content {
	padding-top: 50px;
	width: 100%;
	height: calc(100vh - 50px);
	overflow-y: hidden;
	overflow-x: scroll;
}

.section_top {
	width: 100%;
	box-shadow: 0 1px 8px 0 #999;
	.section_content {
		margin: 0 auto;
		padding: 75px 0;
		width: 80%;
	}
	.section_title {
		position: relative;
		text-align: left;
		font-size: 32px;
		display: inline-block;
		box-sizing: border-box;
	}
}

.section_main {
	width: 100%;
	height: 100%;
	font-size: 0;
	position: relative;
	.section_my_menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 400px;
		height: 100%;
		font-size: 16px;
		box-shadow: 1px 1px 8px -1px #999;
		background: linear-gradient(135deg, $main_color, $my_menu_background_gradi_color);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		justify-content: space-between;
		.profile_image {
			height: 40%;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 200px;
				height: 200px;
				object-fit: cover;
				border-radius: 50%;
				box-shadow: 0 2px 8px 0 black;
			}
		}
		.profile_menu_box {
			background: white;
			height: 60%;
			text-align: center;
			.profile_name_box {
				padding: 30px;
				font-size: 24px;
				@include center_border_bottom_gradi(100px, 1px);
				.profile_name {
					margin-right: 20px;
				}
			}
			.profile_menu_lists {
				list-style: none;
				font-size: 14px;
				padding: 0;
				.profile_menu_list {
					margin-bottom: 10px;
					transition: 0.2s;
					&:hover {
						cursor: pointer;
						color: $main_color;
					}
				}	
			}
			.post_surprise_thanks {
				display: inline-block;
				border-radius: 22px;
				font-size: 16px;
				margin: 10px;
				padding: 10px 20px;
				color: white;
				font-weight: normal;
				background: linear-gradient(135deg, $main_color, $my_menu_background_gradi_color);
				transition: 0.2s;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	.section_time_line {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		width: calc(100vw - 400px);
		height: 100%;
		font-size: 16px;
		overflow-y: scroll;
		white-space: nowrap;
		padding: 50px;
		box-sizing: border-box;
		background: $background-light-gray;
		.thank_content { 
			display: inline-block;
			white-space: normal;
			.thank_card {
				margin: 0 50px;
				position: relative;
				background: white;
				box-sizing: border-box;
				width: 500px;
				height: 300px;
				padding: 50px;
				filter: drop-shadow(0 2px 2px #777);
				border-radius: 2.5px;
				white-space: pre-wrap;
				.thank_header {
					font-size: 24px;
					font-weight: bold;
					margin-bottom: 30px;
					@include center_border_bottom_gradi(100%, 1px);
				}
				.thank_body {
					overflow: hidden;
					height: 150px;
					.thank_to_user {
						font-weight: bold;
						margin-bottom: 10px;
					}
					.thank_text {
						line-height: 30px;
						border-bottom: 1px dashed lighten($text_color, 50);
						display: inline;
						padding-bottom: 5px;
					}
				}
				&:after {
					content: '';
					display: block;
					width: 0;
					height: 0;
					position: absolute;
					bottom: -40px;
					left: 0;
					right: 0;
					margin: auto;
					border-top: 40px solid white;
					border-right: 40px solid transparent;
					border-left: 40px solid transparent;
				}
			}
			.thank_date {
				color: lighten($text_color, 30);
				text-align: right;
				font-size: 12px;
				margin-top: 10px;
				margin-right: 50px;
			}
			.thank_user {
				text-align: center;
				margin-top: 50px;
				position: relative;
				z-index: 1;
				&:after {
					position: absolute;
					top: 50px;
					left: 0;
					content: '';
					display: block;
					width: 100%;
					height: 2px;
					background: lighten($text_color, 40);
					z-index: -1;
				}
				.thank_user_image {
					width: 100px;
					height: 100px;
					display: inline-block;
					position: relative;
					filter: drop-shadow(0 2px 2px #777);
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: inherit;
						height: inherit;
						object-fit: cover;
						border-radius: 50%;
					}
					&:after {
						position: absolute;
						top: -5px;
						left: -5px;
						content: '';
						width: 110px;
						height: 110px;
						border-radius: 50%;
						z-index: -1;
						background: linear-gradient(135deg, $main_color, $my_menu_background_gradi_color);
					}
				}
				.thank_user_name {
					font-size: 14px;
					padding: 5px;
				}
			}
		}
	}
	.section_post_surprise_thanks {
		width: 100%;
		height: 100%;
		padding-top: 50px;
		font-size: 16px;
		background: $background-light-gray;
		.form_panel {
			width: 50%;
			min-width: 500px;
			margin: 0 auto;
			padding: 50px;
			background: white;
			box-shadow: 0 2px 8px #777;
			.title_form {
				margin-bottom: 20px;
				padding-bottom: 10px;
				label {
					display: block;
					font-size: 20px;
					margin-bottom: 10px;
				}
				input[type="text"] {
					display: block;
					width: 100%;
					color: $text_color;
					font-size: 24px;
					font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif, YuGothic,'Yu Gothic','Zapfino',sans-serif;
					border-bottom: 1px solid lighten($text_color, 50);
				}
			}
			.user_form {
				font-size: 20px;
				margin-bottom: 20px;
				display: inline-block;
				label {
					display: inline-block;
				}
				input[type="text"] {
					font-size: 20px;
					font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif, YuGothic,'Yu Gothic','Zapfino',sans-serif;
					display: inline-block;
					width: 30%;
					min-width: 200px;
					margin: 0 20px;
					border-bottom: 1px solid lighten($text_color, 50);
				}
			}
			.image_form {
				margin-left: 20px;
				display: inline-block;
				vertical-align: center;
				label {
					font-size: 24px;
				}
				input[type="file"] {
					display: none;
				}
			}
			.episode_form {
				margin-top: 10px;
				margin-bottom: 20px;
				label {
					display: block;
					font-size: 24px;
					margin-bottom: 10px;
				}
				textarea {
					display: inline;
					width: 100%;
					height: 10rem;
					color: $text_color;
					font-size: 16px;
					font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif, YuGothic,'Yu Gothic','Zapfino',sans-serif;
					border-bottom: 1px dashed lighten($text_color, 30);
				}
			}
			input[type="submit"] {
				color: $text_color;
				font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif, YuGothic,'Yu Gothic','Zapfino',sans-serif;
				font-size: 24px;
				display: block;
				margin: 0 auto;
				margin-top: 20px;
				transition: 0.2s;
				&:hover {
					color: $main_color;
					cursor: pointer;
				}
			}
		}
	}
}
